@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

$bg-color1: #ffa500;
$bg-color2: #cc2900;
$dark-color: #333;
$light-color: #fff;
$main-font: "Poppins", sans-serif;
